<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MsSqlConnectionConnectionString" connectionString="Server=localhost;Database=RemoteNotes;Trusted_Connection=True;" />
  </connectionStrings>

  <appSettings>
    <add key="uri" value="http://localhost:8080/" />
  </appSettings>

</configuration>