<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MsSqlConnectionConnectionString" connectionString="Server=localhost;Database=RemoteNotes;Trusted_Connection=True;" />
  </connectionStrings>

  <appSettings>
    <add key="uri" value="http://localhost:8080" />
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="RemoteNotes.Service.Front.RemoteNotesService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="RemoteNotes.Service.Front.Contract.IRemoteNotesService" behaviorConfiguration="webHttp">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
</configuration>